Database Type: {{ database_type }}{{ database_notes }}{{ database_docs }}
Table Schemas:
{{ processed_schemas }}

Below is the complete YAML tree describing all existing domain/layer1/layer2
categories that can be used as parameters for list_knowledge(domain, layer1, layer2):
{{ knowledge_tree }}

Data Details:
{{ processed_details }}
Metrics (Semantic Layer):
{{ metrics }}
{% if date_ranges %}
Parsed Date Ranges:
{{ date_ranges }}
{% endif %}
{{ knowledge_content }}
Natural Language Question:
{{ question }}
Context:
{{ processed_context }}
Current Date: {{ current_date }}